In [115]:
import seaborn as sns
import torch
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn as sk
import sklearn.metrics as metrics
import sklearn.preprocessing as pre
from sklearn.model_selection import train_test_split
import sklearn.model_selection as ms

In [93]:
family = pd.read_csv("FAMILY_2024-10-29.csv")

,familyidn,agemom,ppwgt,ppbmi,gestwgtgain,mblsmkexp,msmkhist,mblncig,Nethnic_mom,anygdm,...,gestage,cbthweight,stopbfed,everbfed,c0_3yBMIAUC,c0_5yBMIAUC,dadid,fblht,fbldiab,fblcvd
0,10001,33.883641,66.500000,23.010381,10.500000,0.0,1.0,0.0,2,0,...,40.714286,3.350,1.8,1,45.637762,76.402762,1000130.0,0.0,0.0,0.0
1,10002,37.541410,92.986436,31.431326,24.493988,0.0,0.0,0.0,2,0,...,33.142857,2.030,NaN,1,49.280674,79.775674,NaN,NaN,NaN,NaN
2,10002,37.541410,92.986436,31.431326,24.493988,0.0,0.0,0.0,2,0,...,33.142857,2.090,NaN,1,48.352577,77.422577,NaN,NaN,NaN,NaN
3,10003,35.386721,65.770894,21.723773,16.329325,0.0,0.0,0.0,2,0,...,39.285714,3.770,4.6,1,51.494695,84.994695,1000330.0,0.0,0.0,0.0
4,10013,30.496920,52.163123,21.108555,15.875733,0.0,2.0,0.0,2,0,...,39.142857,3.355,27.0,1,49.216884,76.756884,1001330.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
650,110043,33.612594,62.595747,24.238909,5.896701,0.0,0.0,0.0,2,0,...,38.285714,2.775,NaN,0,NaN,87.520100,10043300.0,NaN,NaN,NaN
651,110044,32.030116,58.059823,20.918268,21.440177,0.0,NaN,NaN,2,0,...,39.857143,4.115,9.2,1,40.565000,78.050000,10044300.0,0.0,0.0,0.0
652,110046,33.292266,52.616715,18.642544,14.968548,0.0,0.0,0.0,2,0,...,38.857143,3.925,NaN,1,NaN,69.150000,10046300.0,0.0,0.0,0.0
653,110047,29.278576,72.574779,24.646267,24.493988,0.0,0.0,0.0,2,0,...,41.285714,3.645,3.7,1,61.325088,93.285088,10047300.0,0.0,0.0,0.0
654,110048,32.339494,59.000000,21.257002,22.193034,0.0,0.0,0.0,2,0,...,40.571429,3.398,17.0,1,56.857812,87.097812,10048300.0,1.0,0.0,0.0

In [94]:
start = pd.read_csv("START_2024-10-29.csv")

,id,csex,c1ySBP,c1yDBP,c1yage,c1ylength,c1ybmi,c2ySBP,c2yDBP,c2yage,...,gestage,cbthweight,LBW_term,LBW_all,lgacat,lgacatsa,stopbfed,everbfed,c0_3yBMIAUC,c0_5yBMIAUC
0,10002,2,NaN,NaN,1.5,86.9,16.2,NaN,NaN,2.3,...,38.3,3.145,0.0,0.0,2.0,2.0,29.0,1,NaN,85.8800
1,10003,2,NaN,NaN,1.1,72.7,21.6,139.0,69.0,2.1,...,40.9,3.560,0.0,0.0,2.0,2.0,15.0,1,55.1620,93.5620
2,10004,1,115.0,94.0,1.3,76.0,22.5,112.0,75.0,2.1,...,39.0,3.290,0.0,0.0,2.0,2.0,6.0,1,57.4150,NaN
3,10008,1,NaN,NaN,1.9,86.0,15.5,NaN,NaN,2.2,...,41.0,4.370,0.0,0.0,3.0,3.0,NaN,1,48.9785,83.5185
4,10012,1,NaN,NaN,1.0,79.0,28.8,123.0,71.0,2.1,...,39.1,3.485,0.0,0.0,2.0,2.0,NaN,1,67.2850,111.3950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,30087,1,NaN,NaN,1.1,73.0,16.0,NaN,NaN,1.9,...,40.1,3.123,0.0,0.0,2.0,2.0,12.0,1,43.8645,76.2945
338,30094,1,84.0,42.0,1.1,75.5,14.4,NaN,NaN,1.9,...,38.6,2.948,0.0,0.0,2.0,2.0,14.0,1,43.6015,74.1565
339,30100,2,105.0,61.0,1.1,82.0,16.8,83.0,51.0,2.0,...,39.0,3.417,0.0,0.0,2.0,2.0,10.0,1,47.3320,73.4320
340,30123,2,NaN,NaN,1.1,78.0,15.0,112.0,64.0,2.0,...,37.1,3.051,0.0,0.0,2.0,2.0,1.0,1,NaN,72.5010
341,30124,1,NaN,NaN,1.0,73.0,16.9,NaN,NaN,2.0,...,41.4,3.714,0.0,0.0,2.0,2.0,15.0,1,51.7400,83.3400

In [95]:
#Find similar columns

shared_columns = set(start.columns).intersection(family.columns)

family_subset = family[list(shared_columns)].copy()
start_subset = start[list(shared_columns)].copy()

In [96]:
#Check types
type_compare  = pd.DataFrame({"family_dtypes": family_subset.dtypes, "start_dtypes": start_subset.dtypes})
for index, row in type_compare.iterrows():
    if row['family_dtypes'] != row['start_dtypes']:
        print(index, row['family_dtypes'], row['start_dtypes'])

agemom float64 int64
priordiabp float64 int64

In [97]:
# Change types to match
start_subset["agemom"] = start_subset["agemom"].astype(float)
start_subset["priordiabp"] = start_subset["priordiabp"].astype(float)

In [98]:
#Merge DataFrames

family_start = pd.merge(family_subset, start_subset, on = list(shared_columns), how = "outer")

,c2yDBP,c0_3yBMIAUC,c2ySBP,ppbmi,msmkhist,agemom,c5ySBP,c5yDBP,c3ySBP,c5yheight,...,gestage,stopbfed,Nethnic_mom,c1yDBP,everbfed,gestwgtgain,gdm_report,c5ybmi,mblhdis,csex
0,39.0,42.260000,99.0,23.700000,0.0,37.000000,100.5,56.5,95.0,110.0,...,39.300000,14.0,3,61.0,1,20.900000,0,14.6,0,2
1,44.5,NaN,54.5,37.485284,0.0,40.824093,95.3,52.0,81.3,104.7,...,38.000000,NaN,2,63.0,0,19.050880,0,15.0,0,1
2,45.0,53.242067,82.7,22.865571,2.0,33.453799,99.0,59.3,86.0,117.6,...,40.571429,NaN,3,NaN,1,18.143695,0,16.8,0,1
3,46.0,45.559197,86.0,33.828311,1.0,26.620123,103.0,55.7,NaN,107.2,...,38.571429,7.6,2,59.7,1,13.154179,0,14.7,0,1
4,46.0,50.532505,97.0,23.430341,2.0,29.448323,99.3,56.3,110.3,103.9,...,41.285714,1.4,2,60.0,1,26.761950,0,15.6,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,NaN,NaN,NaN,32.800000,0.0,27.000000,107.0,66.0,NaN,114.0,...,39.100000,4.0,3,54.0,1,4.700000,1,17.1,0,2
993,NaN,NaN,NaN,36.368703,3.0,37.472964,104.7,67.0,NaN,110.4,...,37.285714,2.3,2,59.0,1,10.432625,1,13.9,0,2
994,NaN,NaN,NaN,36.368703,3.0,37.472964,104.7,67.0,NaN,110.4,...,37.285714,2.3,2,59.0,1,10.432625,1,13.9,0,2
995,NaN,NaN,NaN,39.391435,0.0,29.366188,107.3,63.7,NaN,126.1,...,39.714286,4.6,2,NaN,1,18.143695,0,14.1,0,1
996,NaN,NaN,NaN,NaN,3.0,21.900068,98.7,56.7,NaN,103.0,...,40.000000,0.7,2,58.7,1,NaN,0,15.1,0,2

In [99]:
#Remove all columns with large number of null entries

removed_perc = 50

nan_cols = family_start.isnull().sum()
for index, value in nan_cols.items():
    if value / len(family_start) * 100 > removed_perc:
        print(index, value)
        family_start = family_start.drop(columns=[index])

In [100]:
#Remove all rows with NaN

family_start = family_start.dropna()

In [107]:
# Determine collinearity

correlations = family_start.corr()
correlations

for index, row in correlations.iterrows():
    for col, value in row.items():
        if (index != col) and (value > 0.5):
            print(f"Correlation between {index} and {col}: {value}")

Correlation between c2yDBP and c2ySBP: 0.5430104417064308
Correlation between c0_3yBMIAUC and c3ybmi: 0.7124761012093702
Correlation between c0_3yBMIAUC and c1ybmi: 0.716043023019459
Correlation between c0_3yBMIAUC and c5yBMIz_who: 0.5809713117536478
Correlation between c0_3yBMIAUC and c0_5yBMIAUC: 0.8842877159283217
Correlation between c0_3yBMIAUC and c2ybmi: 0.7354809571368781
Correlation between c0_3yBMIAUC and c5ybmi: 0.5502945935871937
Correlation between c2ySBP and c2yDBP: 0.5430104417064308
Correlation between ppbmi and ppwgt: 0.943480423774184
Correlation between c5ySBP and c5yDBP: 0.5111536104671528
Correlation between c5yDBP and c5ySBP: 0.5111536104671528
Correlation between c3ySBP and c3yDBP: 0.5791697500856297
Correlation between c5yheight and c2ylength: 0.800938494476515
Correlation between c5yheight and c1ylength: 0.6308275962888379
Correlation between c5yheight and c3yheight: 0.8964514577834692
Correlation between c3ybmi and c0_3yBMIAUC: 0.7124761012093702
Correlation between c3ybmi and c1ybmi: 0.6694828552264744
Correlation between c3ybmi and c5yBMIz_who: 0.8029214767716768
Correlation between c3ybmi and c0_5yBMIAUC: 0.8381476259286438
Correlation between c3ybmi and c2ybmi: 0.7775832451044637
Correlation between c3ybmi and c5ybmi: 0.785723793031933
Correlation between ppwgt and ppbmi: 0.943480423774184
Correlation between cbthweight and gestage: 0.6993527527053582
Correlation between c2ylength and c5yheight: 0.800938494476515
Correlation between c2ylength and c1ylength: 0.7161867395180395
Correlation between c2ylength and c3yheight: 0.8580157461093276
Correlation between c3yDBP and c3ySBP: 0.5791697500856297
Correlation between c1ybmi and c0_3yBMIAUC: 0.716043023019459
Correlation between c1ybmi and c3ybmi: 0.6694828552264744
Correlation between c1ybmi and c5yBMIz_who: 0.5029785863912312
Correlation between c1ybmi and c0_5yBMIAUC: 0.6967826500843293
Correlation between c1ybmi and c2ybmi: 0.6741630923852998
Correlation between c5yBMIz_who and c0_3yBMIAUC: 0.5809713117536478
Correlation between c5yBMIz_who and c3ybmi: 0.8029214767716768
Correlation between c5yBMIz_who and c1ybmi: 0.5029785863912312
Correlation between c5yBMIz_who and c0_5yBMIAUC: 0.7469060864833621
Correlation between c5yBMIz_who and c2ybmi: 0.5737840275963597
Correlation between c5yBMIz_who and c5ybmi: 0.9878217509562738
Correlation between c1ySBP and c1yDBP: 0.6529904389584308
Correlation between c1ylength and c5yheight: 0.6308275962888379
Correlation between c1ylength and c2ylength: 0.7161867395180395
Correlation between c1ylength and c3yheight: 0.7095407020840437
Correlation between c1ylength and c1yage: 0.506319844266627
Correlation between c0_5yBMIAUC and c0_3yBMIAUC: 0.8842877159283217
Correlation between c0_5yBMIAUC and c3ybmi: 0.8381476259286438
Correlation between c0_5yBMIAUC and c1ybmi: 0.6967826500843293
Correlation between c0_5yBMIAUC and c5yBMIz_who: 0.7469060864833621
Correlation between c0_5yBMIAUC and c2ybmi: 0.751193713133883
Correlation between c0_5yBMIAUC and c5ybmi: 0.7257477889031598
Correlation between c2ybmi and c0_3yBMIAUC: 0.7354809571368781
Correlation between c2ybmi and c3ybmi: 0.7775832451044637
Correlation between c2ybmi and c1ybmi: 0.6741630923852998
Correlation between c2ybmi and c5yBMIz_who: 0.5737840275963597
Correlation between c2ybmi and c0_5yBMIAUC: 0.751193713133883
Correlation between c2ybmi and c5ybmi: 0.5400923746038487
Correlation between c3yheight and c5yheight: 0.8964514577834692
Correlation between c3yheight and c2ylength: 0.8580157461093276
Correlation between c3yheight and c1ylength: 0.7095407020840437
Correlation between c1yage and c1ylength: 0.506319844266627
Correlation between gestage and cbthweight: 0.6993527527053582
Correlation between c1yDBP and c1ySBP: 0.6529904389584308
Correlation between c5ybmi and c0_3yBMIAUC: 0.5502945935871937
Correlation between c5ybmi and c3ybmi: 0.785723793031933
Correlation between c5ybmi and c5yBMIz_who: 0.9878217509562738
Correlation between c5ybmi and c0_5yBMIAUC: 0.7257477889031598
Correlation between c5ybmi and c2ybmi: 0.5400923746038487

In [109]:
family_start

,c2yDBP,c0_3yBMIAUC,c2ySBP,ppbmi,msmkhist,agemom,c5ySBP,c5yDBP,c3ySBP,c5yheight,...,gestage,stopbfed,Nethnic_mom,c1yDBP,everbfed,gestwgtgain,gdm_report,c5ybmi,mblhdis,csex
0,39.0,42.260000,99.0,23.700000,0.0,37.000000,100.5,56.5,95.0,110.0,...,39.300000,14.0,3,61.0,1,20.900000,0,14.6,0,2
4,46.0,50.532505,97.0,23.430341,2.0,29.448323,99.3,56.3,110.3,103.9,...,41.285714,1.4,2,60.0,1,26.761950,0,15.6,0,1
5,46.0,50.532505,97.0,23.430341,2.0,29.448323,99.3,56.3,110.3,103.9,...,41.285714,1.4,2,60.0,1,26.761950,0,15.6,0,1
6,46.3,52.131560,87.3,25.090686,0.0,32.156057,97.0,62.0,91.0,112.9,...,40.714286,0.5,2,50.7,1,16.782918,1,20.9,0,1
7,47.3,47.230703,98.0,27.653856,0.0,35.260780,91.0,52.7,100.0,103.3,...,39.142857,6.4,2,57.5,1,15.875733,0,15.2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,76.0,51.795037,106.3,41.801159,0.0,38.351814,92.3,62.3,90.7,109.1,...,39.285714,27.0,2,61.0,1,9.071847,0,16.0,0,1
636,76.3,51.060205,98.7,21.464305,1.0,26.767967,104.3,62.0,91.0,115.4,...,39.571429,9.2,2,65.5,1,20.868181,0,15.8,0,1
638,77.0,52.656500,130.0,33.200000,0.0,28.000000,109.5,56.0,128.0,111.0,...,39.900000,3.0,3,71.0,1,13.600000,0,14.7,0,1
642,78.5,44.120000,119.0,22.900000,0.0,29.000000,113.5,64.0,97.0,114.4,...,37.300000,1.0,3,62.0,1,19.000000,0,13.4,0,2
650,89.0,45.652722,120.0,25.591842,1.0,33.897331,92.7,59.7,97.7,113.8,...,40.857143,6.0,2,52.3,1,21.318841,0,13.4,0,1

In [116]:
X = family_start.loc[:, family_start.columns != 'c5ySBP']
y = family_start.loc[:, family_start.columns == 'c5ySBP']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [126]:
import statsmodels.api as sm

# Add a constant term for the intercept
X = sm.add_constant(X)

# Fit the model
ols_model = sm.OLS(y, X).fit()

# Print the summary
print(ols_model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 c5ySBP   R-squared:                       0.459
Model:                            OLS   Adj. R-squared:                  0.373
Method:                 Least Squares   F-statistic:                     5.334
Date:                Wed, 20 Nov 2024   Prob (F-statistic):           1.17e-15
Time:                        15:34:41   Log-Likelihood:                -842.96
No. Observations:                 263   AIC:                             1760.
Df Residuals:                     226   BIC:                             1892.
Df Model:                          36
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
c2yDBP         -0.1422      0.082     -1.732      0.085      -0.304       0.020
c0_3yBMIAUC     2.9389      2.826      1.040      0.300      -2.630       8.508
c2ySBP          0.1404      0.058      2.426      0.016       0.026       0.254
ppbmi           0.0455      0.239      0.191      0.849      -0.425       0.516
msmkhist        0.2834      0.613      0.462      0.644      -0.924       1.491
agemom         -0.0320      0.096     -0.334      0.739      -0.221       0.157
c5yDBP          0.6934      0.088      7.847      0.000       0.519       0.867
c3ySBP          0.1786      0.059      3.021      0.003       0.062       0.295
c5yheight       0.4721      0.254      1.858      0.065      -0.029       0.973
mblsmkexp       0.0387      0.382      0.101      0.919      -0.715       0.792
c2yage         -4.5901      5.402     -0.850      0.396     -15.234       6.054
mblncig         0.4641      0.443      1.048      0.296      -0.408       1.337
c3ybmi          2.0629      2.977      0.693      0.489      -3.803       7.929
ppwgt           0.0162      0.080      0.202      0.840      -0.142       0.174
mblcvd       3.963e-12   5.12e-12      0.773      0.440   -6.13e-12    1.41e-11
cbthweight     -0.4932      1.120     -0.440      0.660      -2.700       1.714
c2ylength       0.2980      0.346      0.862      0.390      -0.384       0.980
c3yDBP         -0.2292      0.089     -2.564      0.011      -0.405      -0.053
c3yage        -55.3241     45.949     -1.204      0.230    -145.868      35.220
c5yage         45.6977     44.444      1.028      0.305     -41.880     133.276
c1ybmi          0.4507      0.482      0.935      0.351      -0.499       1.400
c5yBMIz_who    -1.4940      3.018     -0.495      0.621      -7.441       4.453
c1ySBP          0.0566      0.048      1.174      0.241      -0.038       0.152
c1ylength      -0.1197      0.282     -0.425      0.671      -0.675       0.435
priordiabp      1.7640      2.449      0.720      0.472      -3.061       6.589
c0_5yBMIAUC    -2.8835      2.819     -1.023      0.307      -8.439       2.672
c2ybmi          0.0148      0.674      0.022      0.982      -1.313       1.343
c3yheight      -0.3357      0.382     -0.880      0.380      -1.088       0.416
c1yage         -9.0447      5.383     -1.680      0.094     -19.651       1.562
gestage        -0.0832      0.340     -0.245      0.807      -0.753       0.587
stopbfed       -0.0049      0.062     -0.080      0.937      -0.126       0.117
Nethnic_mom    -0.2033      0.246     -0.827      0.409      -0.687       0.281
c1yDBP         -0.0033      0.072     -0.046      0.964      -0.144       0.138
everbfed      -55.8104     91.582     -0.609      0.543    -236.273     124.653
gestwgtgain     0.0770      0.081      0.953      0.342      -0.082       0.236
gdm_report      2.5709      2.111      1.218      0.224      -1.588       6.730
c5ybmi          4.4245      3.230      1.370      0.172      -1.941      10.790
mblhdis              0          0        nan        nan           0           0
csex           -0.3781      0.931     -0.406      0.685      -2.212       1.456
==============================================================================
Omnibus:                        5.553   Durbin-Watson:                   1.982
Prob(Omnibus):                  0.062   Jarque-Bera (JB):                8.099
Skew:                           0.000   Prob(JB):                       0.0174
Kurtosis:                       3.860   Cond. No.                     1.02e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.4e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [138]:
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

lasso = Lasso(alpha=3)
lasso.fit(X_train, y_train)
y_pred = lasso.predict(X_test)

print("Coefficients:", lasso.coef_)

mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error (MSE): {mse:.4f}")
print(f"Root Mean Squared Error (RMSE): {rmse:.4f}")
print(f"R-squared (R²): {r2:.4f}")

Coefficients: [-0.02079137  0.          0.10185148  0.          0.         -0.
  0.54870823  0.1501436   0.27078146 -0.         -0.          0.
  0.          0.01287631  0.         -0.          0.         -0.10202752
 -0.         -0.          0.          0.          0.02936649 -0.
  0.          0.08575874  0.          0.         -0.         -0.
 -0.         -0.          0.          0.          0.          0.
  0.          0.          0.        ]
Mean Squared Error (MSE): 50.5786
Root Mean Squared Error (RMSE): 7.1119
R-squared (R²): 0.3153